h1 {
  text-align: center;
  font-size: 3rem;
  animation: text-change infinite 3s;
  color: #333
}

body {
  background-color: #333;
  animation: body-change infinite 3s;
}

@keyframes text-change {
  0% {
    color: #333;
  }
  50% {
    color: #fff;
  }
  100% {
    color: #333;
  }
}

@keyframes body-change {
  0% {
    background-color: #fff;
  }
  50% {
    background-color: #333;
  }
  100% {
    background-color: #fff;
  }
}
